<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')  }}">
</head>
<body>
    <div id="wrapper">
        <div id="checkerboard">
            {% for z in range(y) %}
                <div class="row">
                    {% for q in range(z,z+x) %}
                        {% if q%2==0 %}
                            <div class="square" {{style1}}></div>
                        {% else %}
                            <div class="square" {{style2}}></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>